<h3>
    {{viewTitle}}
</h3>
    <form action="/" method="POST" autocomplete="off">
        <input type="hidden" name="_id" value="{{product._id}}">

        <div class="form-group">
            <label>Style</label>
            <input type="text" class="form-control" name="productid" value="{{product.productid}}" placeholder="Task Name">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" name="price" value="{{product.price}}" placeholder="Description Name">
        </div>


        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" value="{{product.name}}" placeholder="Description Name">
        </div>

        <div class="form-group">
            <label>Brand</label>
            <input type="text" class="form-control" name="brand" value="{{product.brand}}" placeholder="Description Name">
        </div>

        <div class="form-group">
            <label>Type</label>
            <input type="text" class="form-control" name="type" value="{{product.type}}" placeholder="Description Name">
        </div>


        <div class="form-group">
            <label>Color</label>
            <input type="text" class="form-control" name="color" value="{{product.color}}" placeholder="Description Name">
        </div>


        <div class="form-group">
            <label>Discount</label>
            <input type="text" class="form-control" name="discount" value="{{product.discount}}" placeholder="Description Name">
        </div>


        <div class="form-group">
            <label>Detail</label>
            <input type="text" class="form-control" name="detail" value="{{product.detail}}" placeholder="Description Name">
        </div>

        <div class="form-group">
            <label>Link Image</label>
            <input type="text" class="form-control" name="image" value="{{product.image}}" placeholder="Description Name">
        </div>

        <div class="form-group">
            <label>Link Image Detail</label>
            <input type="text" class="form-control" name="image1" value="{{product.image1}}" placeholder="Description Name">
        </div>




        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
            <a href="/list" class="btn btn-success">
                View All
            </a>
        </div>


    </form>